{% extends 'base.html' %}
{% block contenido %}
<div class="titulografo"><h2>Disponibilidad de Alimentos</h2></div>
numeros de casos: {{casos}} familias <br>
<div id="tabs"><a href="/sequia/disponibilidad/grafos/"><div class="boton-grafo">Ver Gráficos</div></a></div>

<table>
<caption>Tabla Disponibilidad de alimentos</caption>
<thead>
         <tr>
				 <th>Consumidores</th>
				 <th>#</th>
                 <th>Alimentos</th>
                 <th>Total(qq)</th>
				 <th>Promedio por Familia (qq)</th>
         </tr>
   </thead>
<tr>
				 <td>Total de adultos</td>
                 <td>{{ total_adulto }}</td>
                 <td>Maiz</td>
				 <td>{{ total_maiz }}</td>
				 <td>{{ prom_maiz|floatformat:2 }}</td>
</tr>
<tr>
				 <td>Total niños/niñas</td>
                 <td>{{ total_ninos }}</td>
                 <td>Frijol</td>
				 <td>{{ total_frijol }}</td>
				 <td>{{ prom_frijol|floatformat:2 }}</td>
</tr>
<tr>
				 <td>Total vacas</td>
                 <td>{{ total_vacas }}</td>
                 <td>sorgo</td>
				 <td>{{ total_sorgo }}</td>
				 <td>{{ prom_sorgo|floatformat:2 }}</td>
</tr>
<tr>
				 <td>Total cerdos</td>
                 <td>{{ total_cerdos }}</td>
                 <td></td>
				 <td></td>
				 <td></td>
</tr>
<tr>
				 <td>Total gallinas</td>
                 <td>{{ total_gallinas }}</td>
                 <td></td>
				 <td></td>
				 <td></td>
</tr>
</table>
<table>
<caption>Tabla Disponibilidad de alimentos</caption>
<thead>
         <tr>
				 <th>Criterios</th>
				 <th>Disponibilidad en dias</th>
         </tr>
   </thead>
<tr>
				 <td>El Maíz es consumido solamente por humanos</td>
                 <td>{{ criterio1|floatformat:2 }}</td>
</tr>
<tr>
				 <td>El Frijol es consumido por humanos</td>
                 <td>{{ criterio2|floatformat:2 }}</td>
</tr>
<tr>
				 <td>El Maíz y Sorgo son consumidos por humanos y animales</td>
                 <td>{{ criterio3|floatformat:2 }}</td>                 
</tr>
</table>
{% endblock %}
{%block columna_derecha%}
<div class="bloque">
    <div id="b_titulo">Filtros</div>
    <div id="b_enlace">
        <div class="lista_sidebar">
        <ul>
            <a href="/sequia/index/"><li><img class="izq" src="/imagen/filtroconsulta.png">Formulario de Consulta</li></a>
            <a href="/sequia/perdida/"><li><img class="izq" src="/imagen/filtrocosecha.png">Pérdida de cosecha</li></a>
            <a href="/sequia/disponibilidad/"><li><img class="izq" src="/imagen/filtroalimentos.png">Disponibilidad de Alimentos</li></a>
            <a href="/sequia/nutricion/"><li><img class="izq" src="/imagen/filtronutricion.png">Nutrición</li></a>
            <a href="/sequia/descargar/xls/"><li><img class="izq" src="/imagen/filtroexcell.png">Exportar a Hoja de Cálculo</li></a>
        </ul>
        </div>
    </div>
    <div id="b_footer"></div>
</div>
{%endblock%}
