{% extends 'base.html' %}
{%block tab%}'tabs-6'{%endblock%}
{% block contenido %}
| Números de casos: {{ casos }} familias

<div class="titulografo"><h2>Gráficos pérdida primera</h2></div>

<img src={{url}} /> <img src={{url1}} /> <img src={{url2}} /> <img src={{url6}} />


<div class="titulografo"><h2>Gráficos perdida postrera</h2></div>

<img src={{url3}} /> <img src={{url4}} /> <img src={{url5}} /> <img src={{url7}}/> 

{% endblock %}
{%block columna_derecha%}
<div class="bloque">
    <div id="b_titulo">Enlaces</div>
    <div id="b_enlace">
        <ul>
            <li><a href="/sequia/index/">Formulario de Consulta</a></li>
            <li><a href="/sequia/perdida/">Pérdida de cosecha</a></li>
            <li><a href="/sequia/disponibilidad/">Disponibilidad de Alimentos</a></li>
            <li><a href="/sequia/nutricion/">Nutrición</a></li>
            <li><a href="/sequia/descargar/xls/">Exportar a Hoja de Cálculo</a></li>
        </ul>
    </div>
    <div id="b_footer"></div>
</div>
{%endblock%}
