{% extends 'base.html' %}
{%block tab%}'tabs-6'{%endblock%}
{% block contenido %}
| Números de casos: {{ casos }} familias

<div class="titulografo"><h2>Gráficos pérdida Primera</h2></div>

<img src={{url}} /> <img src={{url1}} /> <img src={{url2}} /> <img src={{url6}} />


<div class="titulografo"><h2>Gráficos perdida Postrera</h2></div>

<img src={{url3}} /> <img src={{url4}} /> <img src={{url5}} /> <img src={{url7}}/>

<div class="titulografo"><h2>Gráficos perdida Apante</h2></div>

<img src={{url8}} /> <img src={{url9}} /> <img src={{url10}} /> <img src={{url11}}/>


{% endblock %}
{%block columna_derecha%}
<div class="bloque">
    <div id="b_titulo">Filtros</div>
    <div id="b_enlace">
        <div class="lista_sidebar">
        <ul>
  <a href="/sequia/index/"><li><img class="izq" src="/imagen/filtroconsulta.png">Formulario de Consulta</li></a>
            <a href="/sequia/perdida/"><li><img class="izq" src="/imagen/filtrocosecha.png">Pérdida de cosecha</li></a>
            <a href="/sequia/disponibilidad/"><li><img class="izq" src="/imagen/filtroalimentos.png">Disponibilidad de Alimentos</li></a>
            <a href="/sequia/nutricion/"><li><img class="izq" src="/imagen/filtronutricion.png">Nutrición</li></a>
            <a href="/sequia/descargar/xls/"><li><img class="izq" src="/imagen/filtroexcell.png">Exportar a Hoja de Cálculo</li></a>
        </ul>
        </div>
    </div>
    <div id="b_footer"></div>
</div>
{%endblock%}
