{% extends 'base.html' %}
{% block contenido %}

<div class="titulografo"><h2>Estado de Nutrición</h2></div>
numeros de casos: {{casos}} familias   
<div id="tabs"><a href="/sequia/nutricion/grafos/"><div class="boton-grafo">Ver Gráficos</div></a></div>
<table>
<caption>Tabla Estado de Nutrición niños</caption>
<thead>
         <tr>
				 <th>Edad</th>
				 <th>Normal</th>
                 <th>Riesgos</th>
                 <th>Desnutrición</th>
				 <th>No sabe</th>
         </tr>
</thead>
<tr>
				 <td>1-5 años</td>
                 <td>{{ ninos_normal }}</td>
                 <td>{{ ninos_riesgo }}</td>
				 <td>{{ ninos_desnutrido }}</td>
				 <td>{{ ninos_nosabe }}</td>
</tr>
<tr>
				 <td>6-10 años</td>
                 <td>{{ ninos_normal_s }}</td>
                 <td>{{ ninos_riesgo_s }}</td>
				 <td>{{ ninos_desnutrido_s }}</td>
				 <td>{{ ninos_nosabe_s }}</td>
</tr>
<tr>
				 <td>11-15 años</td>
                 <td>{{ ninos_normal_o }}</td>
                 <td>{{ ninos_riesgo_o }}</td>
				 <td>{{ ninos_desnutrido_o }}</td>
				 <td>{{ ninos_nosabe_o }}</td>
</tr>
</table>
<table>
<caption>Tabla Estado de Nutrición niñas</caption>
<thead>
         <tr>
				 <th>Edad</th>
				 <th>Normal</th>
                 <th>Riesgos</th>
                 <th>Desnutrición</th>
				 <th>No sabe</th>
         </tr>
</thead>
<tr>
				 <td>1-5 años</td>
                 <td>{{ ninas_normal }}</td>
                 <td>{{ ninas_riesgo }}</td>
				 <td>{{ ninas_desnutrido }}</td>
				 <td>{{ ninas_nosabe }}</td>
</tr>
<tr>
				 <td>6-10 años</td>
                 <td>{{ ninas_normal_s }}</td>
                 <td>{{ ninas_riesgo_s }}</td>
				 <td>{{ ninas_desnutrido_s }}</td>
				 <td>{{ ninas_nosabe_s }}</td>
</tr>
<tr>
				 <td>11-15 años</td>
                 <td>{{ ninas_normal_o }}</td>
                 <td>{{ ninas_riesgo_o }}</td>
				 <td>{{ ninas_desnutrido_o }}</td>
				 <td>{{ ninas_nosabe_o }}</td>
</tr>
</table>
{% endblock %}
{%block columna_derecha%}
<div class="bloque">
    <div id="b_titulo">Filtros</div>
    <div id="b_enlace">
        <div class="lista_sidebar">
        <ul>
  <a href="/sequia/index/"><li><img class="izq" src="/imagen/filtroconsulta.png">Formulario de Consulta</li></a>
            <a href="/sequia/perdida/"><li><img class="izq" src="/imagen/filtrocosecha.png">Pérdida de cosecha</li></a>
            <a href="/sequia/disponibilidad/"><li><img class="izq" src="/imagen/filtroalimentos.png">Disponibilidad de Alimentos</li></a>
            <a href="/sequia/nutricion/"><li><img class="izq" src="/imagen/filtronutricion.png">Nutrición</li></a>
            <a href="/sequia/descargar/xls/"><li><img class="izq" src="/imagen/filtroexcell.png">Exportar a Hoja de Cálculo</li></a>
        </ul>
        </div>
    </div>
    <div id="b_footer"></div>
</div>
{%endblock%}
